<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/link.ejs') %>
</head>

<body>
    <%- include('../partial/navbar.ejs') %>
        <div class="heading">
            <h1>About Us</h1>
        </div>
        <div class="img_a">
            <img src="./img/Co. Profile Amazing Olizo Range.jpg" alt="" srcset="">
        </div>
        <div class="info">
            <div class="co-info">
                <h1>Company Information</h1>
                <p>We are one of the leading manufacturers & exporters of ladies readymade garments. We began the
                    company's
                    operation in the year 1998. Manufacturing is done as per the industry norms and guidelines. We
                    utilize
                    the finest fabrics and modern machineries to ensure the product’s elegant design, finish, resistance
                    to
                    shrinkage and colorfastness. Additionally, the offered range also comprises of the finest quality
                    and is
                    highly desired by the customers. We are known to provide the products at the best price possible.
                </p>
            </div>
            <div class="co-info">
                <h1>Our Specialty</h1>
                <p>Our specialty is high fashion woven, knitted garments, we deal in all types of fabrics like cotton,
                    rayon, american crepe, french crepe, linen, voile, georgette, jacquard, solid, printed, dyed checks,
                    stripes, etc. We have experience in export style products. We are fully equipped and prepared to
                    handle
                    any quantity, any style as per buyer`s choice. We keep our sampling Division updated with the fast
                    changing world of Fashion. </p>
            </div>
            <div class="co-info">
                <h1>Quality Policy</h1>
                <p>We are committed to total customer satisfaction. We strive for continual improvement in the process
                    for
                    achieving the ultimate quality product, at the most competitive prices. Embedding awareness of
                    quality
                    in all organizational processes to ensure that the quality levels are maintained for the products.
                    We
                    ensure that the products we manufacture too are at par with our quality policies. All products go
                    through rigorous testing and quality control procedures to ensure the highest levels of quality.</p>
            </div>
            <div class="co-info">
                <h1>Why Us</h1>
                <p>We have earned credibility in manufacturing ladies garments with the top most quality in the industry
                    owing to some of factors:</p>
                <ul>
                    <li>Efficient team</li>
                    <li>Customization</li>
                    <li>Value of Money</li>
                    <li>On time delivery</li>
                    <li>Competitive pricing</li>
                    <li>wide distribution network</li>
                    <li>state of the infrastructure</li>
                </ul>
            </div>
            <div class="co-info">
                <h1>Research & Development</h1>
                <p>We are bestowed with a fully equipped research and development unit that constantly engages, in
                    carrying
                    out surveys to understand the existing developments in the fashion world. This unit has all the
                    latest
                    tools and equipment to perform innovative research that helps in better understanding of client’s
                    requirements. Our professionals observe the changes occur in the market and incorporate those in our
                    existing products to come up with the latest advancement.</p>
            </div>
            <div class="co-info">
                <h1>Executive Summary</h1>
                <ul>
                    <li><b>People Oriented:</b> We are socially responsible company.
                    <li><b>Specialization:</b> computer embroidery, hand embroidery, printed garments, discharge print,
                        block Print, portion print, acid wash, tie dye etc
                    <li><b>Experience:</b> Established in 1998. Worked for North America: USA, UK, Europe, South America
                        :
                        Brazil, Canada.
                    <li><b>Facilities:</b> Good Facilities. Capacity 40,000 pcs per month</li>
                </ul>
            </div>
            <div class="co-info">
                <h1>Question & Answer</h1>
                <div class="question">
                    <h2>FAQ</h2>
                    <div class="qna">
                        <h2>Q: Are you a factory or a trading company?</h2>
                        <p>A: We are an Indian manufacturing unit. We have our own factory.</p>
                    </div>

                    <div class="qna">
                        <h2>Q: Can I get free samples?</h2>
                        <p>Answer: Yes. Typically, AN OEM sample with your design costs $25, the cost of shipping
                            samples will be
                            determined by your delivery address. The sample fee will be refunded to you when you place a
                            bulk order.</p>
                    </div>

                    <div class="qna">
                        <h2>Q: What is the minimum order quantity? Is the product in stock? Do you support
                            customization?</h2>
                        <p>A: All our products are in stock with low moq. We support OEM/ODM, however there is a minimum
                            order
                            requirement.</p>
                    </div>

                    <div class="qna">
                        <h2>Q: How do I pay?</h2>
                        <p>A: PayPal or T/T or Western Union can be used to ensure fast, easy and secure transactions.
                        </p>
                    </div>

                    <div class="qna">
                        <h2>Q: What is the mode of transportation?</h2>
                        <p>A: Through express delivery, such as UPS, FedEx, DHL, etc. The specific mode of
                            transportation can also
                            be determined by the logistics company.</p>
                    </div>
                </div>
            </div>
            <% x.forEach(y=> { %>
                <% if (y.Company_info && y.image) { %>
                    <div class="co-info">
                        <p><%- y.Company_info -%></p>
                        <% y.image.forEach(img => { %>                       
                            <img src="../img/photos/<%= img.filename %>" alt="" width="300px" height="300px">
                        <% }) %>
                    </div>
                <% }else{%>
                        <div class="co-info">
                            <p><%- y.Company_info -%></p>
                        </div>
                <%}%>
            <% }) %>
        </div>
        <%- include('../partial/footer.ejs') %>
            <script src="../js/script.js"></script>
            <script src="https://kit.fontawesome.com/d8397c9ffc.js" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>